<div class="main">
  <h1>Welcome to <i class="fas fa-book" style="color: #000000;"></i><span class='font-weight-bold'>Bookers!</span></h1>
  <p class="center">CopyRight Infratop.inc</p>
</div>


<style>
  .main {
        width:570px;
        margin-right: auto;
        margin-left: auto;
    }
  .center{
        text-align:center;
        margin-top:50px;
    }
</style>